body{
	background-image: url("bgimage2.jpg");
	/*background-repeat: no-repeat;*/
	background-size: cover;
}
form{
	font-family: 'Quicksand', sans-serif;
	width: 300px;
	height: 454px;
	padding: 40px;
	/*border: 1px solid black;*/
	margin-top: 100px;
	background-color: black;
	border-radius: 30px;
	color: white;
	opacity: 0.85;
	transition: transform 1s;
}
form:hover{
	transform: scale(1.05);
}
/*#s{
	border-radius: 50px;
	color: green;
}*/
input[type=text],input[type=password],input[type=number]{
	width: 80%;
	height: 35px;
	border-radius: 25px;
	font-family: 'Quicksand', sans-serif;

}
button{
	width: 40%;
	height: 35px;
	border-radius: 25px;
	font-family: 'Quicksand', sans-serif;
	transition: transform 1s;
}
button:hover{
	transform: scale(1.3);
	background-color: green;
}
#result{
	font-family: 'Quicksand', sans-serif;
	color: red;
	font-weight: bold;
}